@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}



main {
    padding: 16px;
}

footer {
    padding: 24px 0px;
}

img {
    height: 200px;
}

nav {
    display: flexbox;
    border-bottom: 2px solid #151F30;
    padding: 16px;
    background-color: #E3371E;
}

footer {
    padding: 15px 50px;
    background-color: #FF7A48;
}

.container {
    display: grid;
    max-width: 600px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-item {
    padding: 10px;
}

h1 {
    color: #103778;
}

a {
    text-decoration: none;
    color: #0593A2;
}

nav a {
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px 20px;
}

tbody tr:nth-child(2n) {
    background-color: #DDDDDD;
}
